<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registro</title>
</head>
<body>
    <h1>registro de nuevo usuario</h1>


    <form action="/validar" method="post">

        id_usuario:
        <input type="text" name="id_usu" id="id_usu"><br><br>

        nombre:
        <input type="text" name="nom" id="nom"><br><br>

        apellido:
        <input type="text" name="apell" id="apell"><br><br>

        correo: 
        <input type="email" name="correo" id="correo"><br><br>

        user:
        <input type="text" name="user" id="user"><br><br>

        password:
        <input type="password" name="pass" id="pass"><br><br>

        rol_id:
        <input type="number" name="rol" id="rol"><br><br>

        <input type="submit" value="Registrar">
    </form>
</body>
</html>